import("stats")
import("parallel")
import("Rcpp")
useDynLib(wsrf)
exportPattern("^[[:alpha:]]+")

S3method(combine, wsrf)
S3method(correlation, wsrf)
S3method(importance, wsrf)
S3method(predict, wsrf)
S3method(print, wsrf)
S3method(strength, wsrf)
S3method(subset, wsrf)
S3method(oob.error.rate, wsrf)
